
.tooltip {
    position: relative;
    display: inline-block;
    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 95px;
    background-color: rgba(255, 255, 255, .6);
    /*color: #fff;*/
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s;


    /*bottom: 125%;
    left: 50%;
    margin-left: -60px;*/
   
   

    top: 100%;
    left: 50%; 
    margin-left: -60px;

    font-family: Hiruko-BlackAlternate, sans-serif;
    color: black;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    /*top: 100%;*/
    left: 50%;
    margin-left: -5px;
    /*border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent black transparent;*/


    bottom: 100%;  /* At the top of the tooltip */
   
  
  
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.about-me-img{

  position: relative;
  align-self: center;
  width: 70vw;


}

.about-me-img-mobile{

  position: relative;
  align-self: center;
  width: 70vw;


}

.about-me-body {
    
    top: 2vw;
    width: 100vw;
    /*height: 50vw;*/

    position: relative;
 
  /*background-color: blue;*/
  align-self: center;
  margin: auto;
  text-align: center;
}

.about-me-header {
    
    font-family: Hiruko-BlackAlternate, sans-serif;
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    /*width: 75vw;*/
    position: relative;
    display:inline-block;
    color: #f2e4e2;
}



.about-me-text {
    font-family: Baskerville, serif;
    font-size: 15px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    width: 400px;
    position: relative;
    display: inline-block;
}

.contact-icons{

  position: absolute;
  left: 64vw;
  top: 38vw;
}

/*37*/


.contact-icons img{

  width: 25px;
  height: 25px;
  padding: 1vw;
  display: inline-block;
  margin: 7px;
  margin-top: 8px;
  opacity: .65;

}

.contact-icons img:hover {
  opacity: 1;
}



.close {
  position: fixed;
  right: 32px;
  top: 32px;
  margin-top: 10px;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 999;
}
.close:hover {
  opacity: .5;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

a{

  text-decoration: none;
  color: #f2e4e2;
}

.link:hover {
    color: black;
}


.big-text {
    font-family: Hiruko, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    color: #f2e4e2;

}

.medium-text {
    font-family: Hiruko, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    color: #f2e4e2;

}
.content{

  width: 70vw;
  height: 80vh;
  margin-left: 8vw;
  margin-top: 8vw;
 /* background-color: red;*/

}
.boxes{

  width: 80vw;
  /*height: 80vw;
  margin-left: 8vw;
  margin-top: 8vw;
 /* background-color: red;*/
}


.box1, .box2, .box3{

  position: relative;
 /* width: 33.33333%;*/
  float: left;
  margin: 0.5%;
  display:inline-block;


 /* background-color: white;*/
}

/*.box3{

   width: 50%;
  float: left;
  margin: 0.5%;
  display:inline-block;

 /* background-color: white;*/


.process-imgs img{

  width: 65px;
  height: 65px;
  display: inline-block;
  margin-right: 0.5vw;
  margin-top: 1vw;
  opacity: .65;
  


}

.process-imgs img:hover {
  opacity: 1;
}

.process-imgs img path{


  fill: red;


}




/*submenu*/
#navbar ul ul{ 
  list-style:none;
  margin:0;
  padding:0;
  display:none;
  position: absolute;
  left: 90.5%;
  top: 80px;
  z-index: 100;

 
}

#navbar ul li{
  list-style:none;
}


/*submenu items*/
#navbar ul ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:10px;
  line-height:30px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#navbar ul li:hover ul
{
  display:block
}

#navbar .menu{

    width: 70px;
    position: absolute;
    left: 90%;
    top: 20px;
    z-index: 100;

}


.polina{
    left: 50%;
    top: 30px;
    color:black;
    position: absolute;
    text-decoration: none;
}


/*Backround*/
img.bg {


  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0.5;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/*.area {

  background:#fff;
    display:block;
    
    opacity:0;
    position:absolute;
    

}

#area1:hover{
    opacity:0.2;
}
*/


