body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
}
span.CharOverride-1 {
	font-family:Hiruko, sans-serif;
	font-size:55px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-2 {
	font-family:Baskerville, serif;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:Baskerville, serif;
	font-size:15px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-4 {
	font-family:Baskerville, serif;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-5 {
	font-family:Baskerville, serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#f5e3e1;
	font-family:Hiruko, sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-7 {
	font-family:Hiruko, sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-8 {
	color:#000000;
	font-family:Hiruko, sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:900;
}
#_idContainer000, #_idContainer029, #_idContainer050 {
	display:inline-block;
	height:682px;
	position:relative;
	width:938px;
}
#_idContainer001 {
	display:inline-block;
	height:692px;
	width:444px;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:127.13px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:464.14px;
	z-index:0;
}
#_idContainer003 {
	-ms-transform:translate(8.342px,130.850px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(8.342px,130.850px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:129.56px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(8.342px,130.850px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(8.342px,130.850px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:219.36px;
	z-index:1;
}
#_idContainer004 {
	display:inline-block;
	height:260px;
	position:relative;
	width:464px;
}
#_idContainer005 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:231.00px;
	z-index:1;
}
#_idContainer006 {
	-ms-transform:translate(0.000px,39.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,39.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,39.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,39.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:231.00px;
	z-index:0;
}
#_idContainer007 {
	display:inline-block;
	height:67px;
	position:relative;
	width:231px;
}
#_idContainer008, #_idContainer014, #_idContainer015, #_idContainer016, #_idContainer023, #_idContainer036, #_idContainer049, #_idContainer054 {
	display:inline-block;
	height:54px;
	width:54px;
}
#_idContainer009, #_idContainer018 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer010, #_idContainer019 {
	-ms-transform:translate(8.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(8.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(8.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(8.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.00px;
	z-index:0;
}
#_idContainer011 {
	-ms-transform:translate(0.000px,181.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,181.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,181.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,181.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:146.82px;
	z-index:1;
}
#_idContainer012 {
	-ms-transform:translate(1.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:172.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:265.33px;
	z-index:0;
}
#_idContainer013 {
	display:inline-block;
	height:210px;
	position:relative;
	width:267px;
}
#_idContainer017 {
	display:inline-block;
	height:200px;
	width:192px;
}
#_idContainer020 {
	display:inline-block;
	height:28px;
	position:relative;
	width:147px;
}
#_idContainer024 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:238.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:186.36px;
	z-index:1;
}
#_idContainer025 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:1;
}
#_idContainer026 {
	-ms-transform:translate(10.959px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(10.959px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.84px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(10.959px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(10.959px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.00px;
	z-index:0;
}
#_idContainer027 {
	-ms-transform:translate(0.000px,248.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,248.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,248.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,248.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:148.96px;
	z-index:0;
}
#_idContainer028 {
	display:inline-block;
	height:287px;
	position:relative;
	width:186px;
}
#_idContainer031, #_idContainer037 {
	-ms-transform:translate(0.000px,176.267px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,176.267px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,176.267px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,176.267px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:138.00px;
	z-index:1;
}
#_idContainer032 {
	-ms-transform:translate(1.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:166.53px;
	z-index:0;
}
#_idContainer033, #_idContainer039 {
	display:inline-block;
	height:204px;
	position:relative;
	width:168px;
}
#_idContainer034 {
	display:inline-block;
	height:167px;
	width:167px;
}
#_idContainer038 {
	-ms-transform:translate(1.530px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.530px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.530px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.530px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:166.53px;
	z-index:0;
}
#_idContainer040 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:166.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:166.53px;
	z-index:0;
}
#_idContainer041 {
	-ms-transform:translate(0.000px,176.267px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,176.267px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,176.267px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,176.267px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.00px;
	z-index:1;
}
#_idContainer042 {
	display:inline-block;
	height:228px;
	position:relative;
	width:167px;
}
#_idContainer043 {
	display:inline-block;
	height:696px;
	position:relative;
	width:952px;
}
#_idContainer044 {
	display:inline-block;
	height:347px;
	width:260px;
}
#_idContainer045 {
	display:inline-block;
	height:202px;
	width:269px;
}
#_idContainer047, #_idContainer048 {
	display:inline-block;
	height:264px;
	width:352px;
}
#_idContainer051, #_idContainer055 {
	display:inline-block;
	height:280px;
	width:224px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-color:#f2e4e2;
	border-style:solid;
	border-width:14px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#f9e2e1;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#000000;
	border-width:4px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#000000;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-6 {
	background-color:#f2e4e2;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
